body {
  font-family: Helvetica, Arial, sans-serif;
}

.full-height {
  height: 100vh;
}

.form-check-input:checked {
  background-color: #000;
  border-color: #000;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.background-half {
  background: url("../img/backgroundpanjang.png") center/cover no-repeat;
  height: 65vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  transition: transform 0.3s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
}

.chart-container {
  background: linear-gradient(90deg, #313860 0%, #151928 100%);
  border-radius: 16px;
  padding: 20px;
  position: relative;
}

.chart-container canvas {
  border-radius: 12px;
}
